 
<body class="d-flex justify-content-center align-items-center min-vh-100">
  <div class="bg-white p-4 p-md-5 rounded-4 shadow w-100" style="max-width: 600px;">
    <h2 class="text-center fw-semibold mb-4 text-dark">Create an Account</h2>
<form [formGroup]="signupForm" (ngSubmit)="signup()">
      <div class="mb-3">
        <label for="name" class="form-label fw-medium">Full Name</label>
        <input formControlName="fullname" type="text" id="name" name="name" class="form-control">
      </div>
      <div class="mb-3">
        <label for="confirm_password" class="form-label fw-medium">mobile Number</label>
        <input type="number" formControlName="mobile" id="exempleInputmobil"   class="form-control">
      </div>
      <div class="mb-3">
        <label for="email" class="form-label fw-medium">Email Address</label>
        <input type="email" formControlName="email" id="email" name="email" class="form-control">
      </div>
      <div class="mb-3">
        <label for="password" class="form-label fw-medium">Password</label>
        <input type="password" formControlName="password" id="password" name="password" class="form-control">
      </div>
    
      <div class="form-check mb-3">
        <input type="checkbox" class="form-check-input" id="terms" name="terms">
        <label class="form-check-label" for="terms">
          I agree to the <a href="#" class="text-primary text-decoration-none">terms and conditions</a>
        </label>
      </div>
      <button type="submit" (click)="signup()" class="btn btn-primary w-100 py-2 fw-medium">Register</button>
    </form>
    <p class="mt-4 text-center text-muted">Already have an account? 
      <a  routerLink="/login" class="text-primary text-decoration-none">Login</a>
    </p>
  </div>

 
