<div class="container mt-4">
    <h2 class="mb-4">Ajouter un nouvel article</h2>
    <form (ngSubmit)="addPost()">
      <div class="mb-3">
        <label for="title" class="form-label">Titre :</label>
        <input
          type="text"
          id="title"
          class="form-control"
          [(ngModel)]="newPost.title"
          name="title"
          required
        />
      </div>
  
      <div class="mb-3">
        <label for="content" class="form-label">Contenu :</label>
        <textarea
          id="content"
          class="form-control"
          rows="5"
          [(ngModel)]="newPost.content"
          name="content"
          required
        ></textarea>
      </div>
  
      <button type="submit" class="btn btn-primary">Ajouter</button>
    </form>
  </div>
  