.img {
    width: 374px;
}
.custom-btn {
    background-color: rgba(33, 37, 41, 0.5); /* bg-dark bg-opacity-50 */
    color: white;
    border: 1px solid white;
    padding: 1.5rem 6rem; 
    font-weight: 500;
    font-size: 1rem;
    transition: all 0.3s ease;
  }

  .custom-btn:hover {
    padding: 0.8rem 1.8rem; 
    font-size: 1.1rem;
    background-color: rgba(33, 37, 41, 0.5); 
    color: white;
  } .sidebar-card {
    max-width: 350px;
    margin: auto;
  }
  .profile-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
  }
  .email-box input {
    border: 1px solid #ccc;
    border-radius: 0;
  }
  .email-box button {
    border-radius: 0;
    background-color: #fff;
    border: 1px solid #ccc;
  }
  .social-icons a {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
    border-radius: 50%;
    background-color: #333;
    color: #fff;
    text-decoration: none;
  }
@media screen and (max-width: 600px) {
    .img {
        width: 200px !important;
    }  
}
