.profile-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
  }
 
 
.custom-btn {
    background-color: rgba(33, 37, 41, 0.5);  
    color: white;
    border: 1px solid white;
    padding: 1.5rem 6rem; 
    font-weight: 500;
    font-size: 1rem;
    transition: all 0.3s ease;
  }

  .custom-btn:hover {
    padding: 0.8rem 1.8rem; 
    font-size: 1.1rem;
    background-color: rgba(33, 37, 41, 0.5); 
    color: white;
  }
 
